
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: beige;
}

h1 {
    text-align: left;
    color: #333;
}

.movie-detail {
    overflow: hidden; /* Để chứa cả hai phần (poster và nội dung) */
    margin-top: 20px;
}

.movie-poster {
    float: left; /* Đặt poster bên trái */
    width: 40%; /* Chiếm 40% chiều rộng */
    height: 500px;
    border-radius: 5px;
    margin-right: 20px; /* Khoảng cách giữa poster và nội dung */
}

.movie-content {
    float: left; /* Đặt nội dung bên trái */
    width: 55%; /* Chiếm 55% chiều rộng */
}

    .movie-content h2 {
        margin: 0;
        font-size: 24px;
    }

    .movie-content p {
        margin: 10px 0;
    }

.btn-back {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

    .btn-back:hover {
        background-color: #0056b3;
    }

.button-buy {
    display: inline-block;
    padding: 10px 15px;
    background-color: #d32020;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

    .button-buy:hover {
        background-color: #7a0a0a;
    }
